.container-header{
    background: #043873;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-nav{
display: inline-flex;
gap: 32px;
padding: 20px 0;
}

.link{
    color: white;
    text-decoration: none;
    display: inline-flex;
    gap: 8px;
    align-items: center;
}

.header-actions {
    display: flex;
    gap: 24px;
    align-items: center;
}

.header-button-yellow{
    background: #FFE492;
    padding: 8px;
    border-radius: 8px;
    color: #043873;
}
.header-button-blue{
    background-color: #4F9CF9;
    padding: 8px;
    border-radius: 8px;
    color: white;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}