.container-header{
    background: #043873;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

@media (max-width: 1440px) {
  .container-header {
    justify-content: space-between;
  }
}

.header-nav{
display: inline-flex;
gap: 32px;
padding: 20px 0;
}

@media (max-width: 1150px) {
    .header-nav{
     display: none;
    }
}

.link{
    color: white;
    text-decoration: none;
    display: inline-flex;
    gap: 8px;
    align-items: center;
}

.link:hover{
    color: #4F9CF9;
    .icon-arrow{
    transform: rotate(90deg);
    }
}

.header-actions {
    display: flex;
    gap: 24px;
    align-items: center;
}

.header-button-yellow{
    background: #FFE492;
    padding: 8px;
    border-radius: 8px;
    color: #043873;
}

.header-button-blue{
    background-color: #4F9CF9;
    padding: 8px;
    border-radius: 8px;
    color: white;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
.header-button-blue:hover {
  background-color: #4f9bf9ca;
  color: #012551;
}

.burger-menu{
    font-size: 50px;
    color: white;
    display: none;
}

@media (max-width: 1150px) {
    .burger-menu{
     display: block;
    }
}